.Wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #f0f0f0;
    box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #ffffff;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    
}

.Wrapper form {
    background-color: #f0f0f0;
    box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-control {
    background-color: #f0f0f0;
    border-radius: 4px;
    box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #ffffff;
    width: 60%;
    height: 30px;
}

.btn {
    box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #ffffff;
    width: 120px;
    height: 30px;
    background-color: #f0f0f0;
    color: #212121;
    border-radius: 4px;
}

.columns {
    background-color: #f0f0f0;
    box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}


.sidebar-first {
    background-color: #f0f0f0;
    box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #ffffff;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    order: 1;
}

.sidebar-second {
    background-color: #f0f0f0;
    box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    order: 2;
}

@media (max-width: 768px) {

    .form-control {
        width: 60%;
    }
}

.Wrapper h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    text-align: left;
}

.Wrapper li {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    list-style: none;
    margin-left: -40px;
}

.description {
    text-transform: capitalize;
    margin-bottom: 20px;
}

.temperature {
    color: rgb(33, 33, 33);
    font-weight: bold;
    font-size: 58px;
    margin-left: 50px;
}

.unit {
    color: #212121;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -34px;
    line-height: 1;
    margin-right: 50px;
}

.temperature canvas {
    margin-top: 20px;
    margin-right: 10px;
    display: inline-block;
}